.my-notification {
  margin: 0 5px 5px;
  padding: 10px;
  font-size: 16px;
  color: var(--colors-background-primary);

  background: var(--colors-text-action);
  border-left: 5px solid var(--colors-text-action);

  &.success {
    background: var(--colors-green);
    border-left-color: #42a85f;
  }

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: var(--colors-red);
    border-left-color: #b82e24;
  }
}